### Importing libraries and setting up the scrapping tools

In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
import json
import time 
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
import warnings   
warnings.simplefilter('ignore')

opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    
opciones.add_argument('--start-maximized')         
#opciones.add_argument('user-data-dir=selenium')   
#opciones.add_extension('driver_folder/adblock.crx')       
opciones.add_argument('--incognito')

driver = "./chromedriver.exe"
driver = webdriver.Chrome(driver,options = opciones)

### Scrapping

In [2]:
driver = "./chromedriver.exe"
driver = webdriver.Chrome(driver,options = opciones)

############
#Start (Germany)
############

url = 'https://ibestat.caib.es/ibestat/estadistiques/96fc2a7c-fd08-4820-a020-a04f6608f0e7/c775925a-8355-46c3-971a-d228ee26c74c/es/I211001_9001.px'
driver.get(url)

print('Progress 0%')
print('Working on Germany....')

#Selecting data display options for optimal scrapping

ajustes=driver.find_element_by_xpath('//*[@id="seleccionTablaModal"]/img')
ajustes.click()
time.sleep(3)
print('click ajustes')
vaselect=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[1]/div[2]/div/div[3]/img[3]')
vaselect.click()
time.sleep(3)
print('vaciando selección (1)')
pais=driver.find_element_by_xpath('//*[@id="busc_2"]')
pais.send_keys('Alemania')
time.sleep(3)
print('select alemania')
lupa=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[1]/div[2]/div/div[4]/img[2]')
lupa.click()
time.sleep(3)
print('click lupa')
vaselect=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[2]/div[1]/div/div[3]/img[3]')
vaselect.click()
time.sleep(3)
print('vaciando selección (2)')
valor=driver.find_element_by_xpath('//*[@id="ConfSelCri3"]/option[1]')
valor.click()
time.sleep(3)
print('columna valor')
vaselect=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[2]/div[2]/div/div[3]/img[3]')
vaselect.click()
time.sleep(3)
print('vaciando selección (3)')
impor=driver.find_element_by_xpath('//*[@id="ConfSelCri4"]/option[2]')
impor.click()
time.sleep(3)
print('solo imports')
pais=driver.find_element_by_xpath('//*[@id="rows"]/option[2]')
pais.click()
time.sleep(3)
print('país a columna')
flecha=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[4]/div[2]/img[1]')
flecha.click()
time.sleep(3)
print('flecha a columna')
ver=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[5]/a[1]/span')
ver.click()
print('ver la tabla')

#Scrapping

figures = [e.text for e in driver.find_elements_by_class_name('dataCell')]
timetags = [e.text for e in driver.find_elements_by_class_name('izqMed')]

#Creating a Dataframe with the scrapped columns

df_base = pd.DataFrame(list(zip(timetags, figures)),
columns =['Time', 'Alemania'])

display(df_base)


############
#Loop for the other countries' scrapping (Switzerland not present in list)
############

Countries_exc_ger = ['Reino Unido', 'Países Bajos', 'Irlanda', 'Suecia', 'Dinamarca', 'Bélgica', 'Italia', 'Francia', 'República Checa', 'Polonia']
Countries_exc_ger_eng = ['United Kingdom', 'The Netherlands', 'Ireland', 'Sweden', 'Denmark', 'Belgium', 'Italy', 'France', 'Czechia', 'Poland']
#countires' names in the first list are in Spanish as is the language of the source webpage
#the second list is used solely for progress tracking purposes
counter = 0


#Declaring a loop that iterates over the list above and scraps the data for all intended countries
#The structure is the same as in the code above for the first country scrapped (Germany) 
#The main addition is that at the end of each iteration the obtained df is merged to the base one

for i in Countries_exc_ger:
    print(f'Progress {round(((counter + 1)/12)*100,2)}%')
    print(f'Working on {Countries_exc_ger_eng[counter]}....')
    counter += 1

    url = 'https://ibestat.caib.es/ibestat/estadistiques/96fc2a7c-fd08-4820-a020-a04f6608f0e7/c775925a-8355-46c3-971a-d228ee26c74c/es/I211001_9001.px'
    driver.get(url)

    ajustes=driver.find_element_by_xpath('//*[@id="seleccionTablaModal"]/img')
    ajustes.click()
    time.sleep(1)
    vaselect=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[1]/div[2]/div/div[3]/img[3]')
    vaselect.click()
    time.sleep(1)
    pais=driver.find_element_by_xpath('//*[@id="busc_2"]')
    pais.send_keys(f'{i}')
    time.sleep(1)
    lupa=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[1]/div[2]/div/div[4]/img[2]')
    lupa.click()
    time.sleep(1)
    vaselect=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[2]/div[1]/div/div[3]/img[3]')
    vaselect.click()
    time.sleep(1)
    valor=driver.find_element_by_xpath('//*[@id="ConfSelCri3"]/option[1]')
    valor.click()
    time.sleep(1)
    vaselect=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[2]/div[2]/div/div[3]/img[3]')
    vaselect.click()
    time.sleep(1)
    impor=driver.find_element_by_xpath('//*[@id="ConfSelCri4"]/option[2]')
    impor.click()
    time.sleep(1)
    pais=driver.find_element_by_xpath('//*[@id="rows"]/option[2]')
    pais.click()
    time.sleep(1)
    flecha=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[4]/div[2]/img[1]')
    flecha.click()
    time.sleep(1)
    ver=driver.find_element_by_xpath('//*[@id="contenido_central"]/div[5]/a[1]/span')
    ver.click()

    figures = [e.text for e in driver.find_elements_by_class_name('dataCell')]
    timetags = [e.text for e in driver.find_elements_by_class_name('izqMed')]

#Merging this iteration's DF with the base one
    
    df = pd.DataFrame(list(zip(timetags, figures)),
    columns =['Time', f'{i}'])
    df_base = df.merge(df_base, on='Time')
    display(df_base)
    
#Saving the data into a CSV file after all the data has been scrapped and the loop ends   

print('Progress 99%')    
print('Saving data....')    
df_base.to_csv('balearic_imports_dirty.csv')    
print('Progress 100%')
print('Task accomplished')

#In this particular case the loop is told to display the database with each iteration as due 
#to the relatively moderate size of the "final product" this not unfeasible, but for larger
#scrapping excercises or dataframes this will be totally unpractical.

Progress 0%
Working on Germany....
click ajustes
vaciando selección (1)
select alemania
click lupa
vaciando selección (2)
columna valor
vaciando selección (3)
solo imports
país a columna
flecha a columna
ver la tabla

               Time     Alemania
0    2021_Acumulado  196.025.757
1           2021M11   23.733.996
2           2021M10   31.231.364
3           2021M09   24.229.240
4           2021M08   13.060.456
..              ...          ...
279         2000M06   10.730.654
280         2000M05    8.422.501
281         2000M04    5.918.835
282         2000M03    8.738.354
283         2000M02    4.973.344

[284 rows x 2 columns]

Progress 8.33%
Working on United Kingdom....

               Time Reino Unido     Alemania
0    2021_Acumulado  42.775.095  196.025.757
1           2021M11   3.161.318   23.733.996
2           2021M10   3.540.810   31.231.364
3           2021M09   3.876.277   24.229.240
4           2021M08   3.736.112   13.060.456
..              ...         ...          ...
279         2000M06   7.389.170   10.730.654
280         2000M05  67.262.734    8.422.501
281         2000M04   6.768.984    5.918.835
282         2000M03   7.377.126    8.738.354
283         2000M02   7.656.172    4.973.344

[284 rows x 3 columns]

Progress 16.67%
Working on The Netherlands....

               Time Países Bajos Reino Unido     Alemania
0    2021_Acumulado  178.607.869  42.775.095  196.025.757
1           2021M11   35.186.304   3.161.318   23.733.996
2           2021M10   22.533.426   3.540.810   31.231.364
3           2021M09   25.881.548   3.876.277   24.229.240
4           2021M08   14.463.688   3.736.112   13.060.456
..              ...          ...         ...          ...
279         2000M06    3.684.816   7.389.170   10.730.654
280         2000M05    1.414.704  67.262.734    8.422.501
281         2000M04    8.264.743   6.768.984    5.918.835
282         2000M03    1.579.630   7.377.126    8.738.354
283         2000M02    1.067.411   7.656.172    4.973.344

[284 rows x 4 columns]

Progress 25.0%
Working on Ireland....

               Time     Irlanda Países Bajos Reino Unido     Alemania
0    2021_Acumulado   4.747.182  178.607.869  42.775.095  196.025.757
1           2021M11   1.018.726   35.186.304   3.161.318   23.733.996
2           2021M10     331.710   22.533.426   3.540.810   31.231.364
3           2021M09   1.066.762   25.881.548   3.876.277   24.229.240
4           2021M08     682.895   14.463.688   3.736.112   13.060.456
..              ...         ...          ...         ...          ...
279         2000M06  25.407.127    3.684.816   7.389.170   10.730.654
280         2000M05     110.396    1.414.704  67.262.734    8.422.501
281         2000M04      96.681    8.264.743   6.768.984    5.918.835
282         2000M03     256.949    1.579.630   7.377.126    8.738.354
283         2000M02      37.376    1.067.411   7.656.172    4.973.344

[284 rows x 5 columns]

Progress 33.33%
Working on Sweden....

,Time,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,2021_Acumulado,8.585.209,4.747.182,178.607.869,42.775.095,196.025.757
1,2021M11,723.796,1.018.726,35.186.304,3.161.318,23.733.996
2,2021M10,1.167.503,331.710,22.533.426,3.540.810,31.231.364
3,2021M09,1.410.221,1.066.762,25.881.548,3.876.277,24.229.240
4,2021M08,927.643,682.895,14.463.688,3.736.112,13.060.456
...,...,...,...,...,...,...
279,2000M06,1.197.337,25.407.127,3.684.816,7.389.170,10.730.654
280,2000M05,1.930.422,110.396,1.414.704,67.262.734,8.422.501
281,2000M04,1.147.497,96.681,8.264.743,6.768.984,5.918.835
282,2000M03,1.099.118,256.949,1.579.630,7.377.126,8.738.354
283,2000M02,629.878,37.376,1.067.411,7.656.172,4.973.344

Progress 41.67%
Working on Denmark....

,Time,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,2021_Acumulado,4.191.680,8.585.209,4.747.182,178.607.869,42.775.095,196.025.757
1,2021M11,505.164,723.796,1.018.726,35.186.304,3.161.318,23.733.996
2,2021M10,454.991,1.167.503,331.710,22.533.426,3.540.810,31.231.364
3,2021M09,641.261,1.410.221,1.066.762,25.881.548,3.876.277,24.229.240
4,2021M08,348.110,927.643,682.895,14.463.688,3.736.112,13.060.456
...,...,...,...,...,...,...,...
279,2000M06,636.836,1.197.337,25.407.127,3.684.816,7.389.170,10.730.654
280,2000M05,770.330,1.930.422,110.396,1.414.704,67.262.734,8.422.501
281,2000M04,513.883,1.147.497,96.681,8.264.743,6.768.984,5.918.835
282,2000M03,681.696,1.099.118,256.949,1.579.630,7.377.126,8.738.354
283,2000M02,331.645,629.878,37.376,1.067.411,7.656.172,4.973.344

Progress 50.0%
Working on Belgium....

,Time,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,2021_Acumulado,53.882.732,4.191.680,8.585.209,4.747.182,178.607.869,42.775.095,196.025.757
1,2021M11,4.247.049,505.164,723.796,1.018.726,35.186.304,3.161.318,23.733.996
2,2021M10,5.202.484,454.991,1.167.503,331.710,22.533.426,3.540.810,31.231.364
3,2021M09,7.426.750,641.261,1.410.221,1.066.762,25.881.548,3.876.277,24.229.240
4,2021M08,7.100.870,348.110,927.643,682.895,14.463.688,3.736.112,13.060.456
...,...,...,...,...,...,...,...,...
279,2000M06,1.018.089,636.836,1.197.337,25.407.127,3.684.816,7.389.170,10.730.654
280,2000M05,1.039.326,770.330,1.930.422,110.396,1.414.704,67.262.734,8.422.501
281,2000M04,1.125.213,513.883,1.147.497,96.681,8.264.743,6.768.984,5.918.835
282,2000M03,717.818,681.696,1.099.118,256.949,1.579.630,7.377.126,8.738.354
283,2000M02,3.191.670,331.645,629.878,37.376,1.067.411,7.656.172,4.973.344

Progress 58.33%
Working on Italy....

,Time,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,2021_Acumulado,230.446.676,53.882.732,4.191.680,8.585.209,4.747.182,178.607.869,42.775.095,196.025.757
1,2021M11,30.885.089,4.247.049,505.164,723.796,1.018.726,35.186.304,3.161.318,23.733.996
2,2021M10,6.687.123,5.202.484,454.991,1.167.503,331.710,22.533.426,3.540.810,31.231.364
3,2021M09,8.474.734,7.426.750,641.261,1.410.221,1.066.762,25.881.548,3.876.277,24.229.240
4,2021M08,25.701.516,7.100.870,348.110,927.643,682.895,14.463.688,3.736.112,13.060.456
...,...,...,...,...,...,...,...,...,...
279,2000M06,6.563.170,1.018.089,636.836,1.197.337,25.407.127,3.684.816,7.389.170,10.730.654
280,2000M05,6.552.962,1.039.326,770.330,1.930.422,110.396,1.414.704,67.262.734,8.422.501
281,2000M04,4.826.761,1.125.213,513.883,1.147.497,96.681,8.264.743,6.768.984,5.918.835
282,2000M03,6.141.112,717.818,681.696,1.099.118,256.949,1.579.630,7.377.126,8.738.354
283,2000M02,4.109.928,3.191.670,331.645,629.878,37.376,1.067.411,7.656.172,4.973.344

Progress 66.67%
Working on France....

,Time,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,2021_Acumulado,123.007.720,230.446.676,53.882.732,4.191.680,8.585.209,4.747.182,178.607.869,42.775.095,196.025.757
1,2021M11,12.992.763,30.885.089,4.247.049,505.164,723.796,1.018.726,35.186.304,3.161.318,23.733.996
2,2021M10,7.735.753,6.687.123,5.202.484,454.991,1.167.503,331.710,22.533.426,3.540.810,31.231.364
3,2021M09,7.650.884,8.474.734,7.426.750,641.261,1.410.221,1.066.762,25.881.548,3.876.277,24.229.240
4,2021M08,7.617.475,25.701.516,7.100.870,348.110,927.643,682.895,14.463.688,3.736.112,13.060.456
...,...,...,...,...,...,...,...,...,...,...
279,2000M06,4.882.837,6.563.170,1.018.089,636.836,1.197.337,25.407.127,3.684.816,7.389.170,10.730.654
280,2000M05,5.341.304,6.552.962,1.039.326,770.330,1.930.422,110.396,1.414.704,67.262.734,8.422.501
281,2000M04,4.564.579,4.826.761,1.125.213,513.883,1.147.497,96.681,8.264.743,6.768.984,5.918.835
282,2000M03,7.985.219,6.141.112,717.818,681.696,1.099.118,256.949,1.579.630,7.377.126,8.738.354
283,2000M02,3.764.094,4.109.928,3.191.670,331.645,629.878,37.376,1.067.411,7.656.172,4.973.344

Progress 75.0%
Working on Czechia....

,Time,República Checa,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,2021_Acumulado,1.731.141,123.007.720,230.446.676,53.882.732,4.191.680,8.585.209,4.747.182,178.607.869,42.775.095,196.025.757
1,2021M11,66.902,12.992.763,30.885.089,4.247.049,505.164,723.796,1.018.726,35.186.304,3.161.318,23.733.996
2,2021M10,84.056,7.735.753,6.687.123,5.202.484,454.991,1.167.503,331.710,22.533.426,3.540.810,31.231.364
3,2021M09,265.947,7.650.884,8.474.734,7.426.750,641.261,1.410.221,1.066.762,25.881.548,3.876.277,24.229.240
4,2021M08,294.308,7.617.475,25.701.516,7.100.870,348.110,927.643,682.895,14.463.688,3.736.112,13.060.456
...,...,...,...,...,...,...,...,...,...,...,...
279,2000M06,48.086,4.882.837,6.563.170,1.018.089,636.836,1.197.337,25.407.127,3.684.816,7.389.170,10.730.654
280,2000M05,35.245,5.341.304,6.552.962,1.039.326,770.330,1.930.422,110.396,1.414.704,67.262.734,8.422.501
281,2000M04,68.862,4.564.579,4.826.761,1.125.213,513.883,1.147.497,96.681,8.264.743,6.768.984,5.918.835
282,2000M03,40.466,7.985.219,6.141.112,717.818,681.696,1.099.118,256.949,1.579.630,7.377.126,8.738.354
283,2000M02,21.951,3.764.094,4.109.928,3.191.670,331.645,629.878,37.376,1.067.411,7.656.172,4.973.344

Progress 83.33%
Working on Poland....

,Time,Polonia,República Checa,Francia,Italia,Bélgica,Dinamarca,Suecia,Irlanda,Países Bajos,Reino Unido,Alemania
0,2021_Acumulado,7.865.370,1.731.141,123.007.720,230.446.676,53.882.732,4.191.680,8.585.209,4.747.182,178.607.869,42.775.095,196.025.757
1,2021M11,1.026.951,66.902,12.992.763,30.885.089,4.247.049,505.164,723.796,1.018.726,35.186.304,3.161.318,23.733.996
2,2021M10,719.417,84.056,7.735.753,6.687.123,5.202.484,454.991,1.167.503,331.710,22.533.426,3.540.810,31.231.364
3,2021M09,1.183.774,265.947,7.650.884,8.474.734,7.426.750,641.261,1.410.221,1.066.762,25.881.548,3.876.277,24.229.240
4,2021M08,548.923,294.308,7.617.475,25.701.516,7.100.870,348.110,927.643,682.895,14.463.688,3.736.112,13.060.456
...,...,...,...,...,...,...,...,...,...,...,...,...
279,2000M06,82.742,48.086,4.882.837,6.563.170,1.018.089,636.836,1.197.337,25.407.127,3.684.816,7.389.170,10.730.654
280,2000M05,150.010,35.245,5.341.304,6.552.962,1.039.326,770.330,1.930.422,110.396,1.414.704,67.262.734,8.422.501
281,2000M04,120.453,68.862,4.564.579,4.826.761,1.125.213,513.883,1.147.497,96.681,8.264.743,6.768.984,5.918.835
282,2000M03,149.543,40.466,7.985.219,6.141.112,717.818,681.696,1.099.118,256.949,1.579.630,7.377.126,8.738.354
283,2000M02,0,21.951,3.764.094,4.109.928,3.191.670,331.645,629.878,37.376,1.067.411,7.656.172,4.973.344

Progress 99%
Saving data....
Progress 100%
Task accomplished